@media (max-width: 767.98px) { 
    section {
        padding: 80px 1%;
    }
    section > article {
        columns:1;
        text-align: justify;
        padding: 20px 5%;
    }
    .burger {
        display: block;
    }
    #main-nav {
        position: fixed;
    }
    #main-nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100vw;
        transform: translateX(100vw);
        height:fit-content;
        left: 0;
        z-index: 999;
        top:80px;
        background-color: var(--couleur-principal);
        transition: all .5s ease-in-out;
       
    }
    #main-nav ul>li {
        height: fit-content;
        padding: 30px 25px;
        text-align: right;
    }
    #main-nav ul>li >a {
        width: fit-content;
    }


    section > h1 {
        font-size: 2rem;
    }


    section > article h2 { 
        width: 90%;
    }

    #main-nav ul.active-navbar {
        transform: translateX(0);
        transition: all .5s ease-in-out;
    }
 }




 @media (max-width: 991.98px) { 
    section > article {
        columns:1;
        text-align: justify;
    }
  }