/* Reset */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* css root */

@font-face {
    font-family: 'kaorigelmedium';
    src: url('../assets/fonts/kaorigel-webfont.woff2') format('woff2'),
         url('../assets/fonts/kaorigel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kaorigelboldbold';
    src: url('../assets/fonts/kaorigelbold-webfont.woff2') format('woff2'),
         url('../assets/fonts/kaorigelbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'catcafemedium';
    src: url('../assets/fonts/catcafe-webfont.woff2') format('woff2'),
         url('../assets/fonts/catcafe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catcafemedium';
    src: url('../assets/fonts/catcafe-webfont.woff2') format('woff2'),
         url('../assets/fonts/catcafe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --couleur-principal:rgb(214, 127, 169);
    --couleur-principal-transparente:rgb(234, 179, 188);
    --couleur-secondaire:rgba(239, 224, 195, .7);
    --couleur-text-nav:rgba(0, 0 , 0, 1)
   
}




