/* SOMMAIRE */

/* GLOBAL */
/* NAV  */
/* HEADER */
/* MAIN  */
/* SECTION PREPRODUCTION */
/* SECTION PRODUCTION */
/* SECTION POSTPRODUCTION */
/* FOOTER */














/* GLOBAL */
body {
    overflow-x: hidden;
}

section, header {
    min-height: 100vh;
    min-width: 100vw;
    padding: 50px 50px 30px ;

 
}

header {
    display: inline-block;
    position: absolute;
}

section > article {
    width: 60rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container h1 {
    width: 100%;
    text-align: center;
}

/* NAV  */
#main-nav {
    position: fixed;
    z-index: 2;

}

#main-nav  ul {
    display: flex;
    list-style: none;
}

#main-nav   ul li {
    position: relative;
    padding: 15px 20px;
}

/* #main-nav ul li::after, #main-nav ul li::before {
    position: absolute;
    content: '';
    width:150% ;
    height: 100%;
    background-color: bisque;


} */

/* HEADER */
/* MAIN  */
main {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    max-height: 100vh;
    overflow: hidden;
    
}
/* SECTION PREPRODUCTION */
/* SECTION PRODUCTION */
/* SECTION POSTPRODUCTION */
/* FOOTER */