/* SOMMAIRE */

/* GLOBAL */
/* NAV  */
/* HEADER */
/* BURGER  */
/* MAIN  */
/* ARTICLES */
/* SECTION PREPRODUCTION */
/* SECTION PRODUCTION */
/* SECTION POSTPRODUCTION */
/* FOOTER */
/* SLIDER */
/*  ANIMATIONS */




.toTop{
    display: block;
    position: fixed;
    bottom: 100px;
    background-color: var(--couleur-principal-transparente);
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    right: 15px;
    z-index: 5;
   
}

/* NAV  */
#main-nav {
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-principal);
    font-family: 'kaorigelboldbold';
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 25px; 
    z-index: 5;
}

#main-nav ul {
    display: flex;
    height: 100%;
    list-style-type: none;
}

#main-nav ul>li {
    height: inherit;
    padding: 0 25px; 
    
}

#main-nav a {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    align-items:center;
     color: #fff;
     height: 100%;
}

#main-nav .active-navlink {
    background-color: var(--couleur-secondaire);
    color: var(--couleur-principal);
    height: 90%;
    padding: 5px 15px;
    position: relative;
    border-radius: 7px;
    font-weight: bolder;
    transition: all .3s;
}

#main-nav .active-navlink::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid var(--couleur-secondaire);
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

#main-nav.transparent, footer.transparent {
    background-color: rgba(0, 0, 0, 0.3);
}

/* BURGER  */
.burger {
    width: 35px;
    height: 35px;
    position: relative;
    display: none;
}
.burger:after ,.burger:before {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background-color: #fff;
    left: 0;   
    z-index: 2;
    display: block;
    transition:all .2s ease ;
}

.burger:after {
    bottom: 0;
    transition:all .2s ease ;
}

.burger:before {
    top: 0;
    transition:all .2s ease ;
}

.burger >p {
    height:2px ;
    width: inherit;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: #fff;
    z-index: 2;
    transition:all .2s ease ;
    
}

.burger.open >p{
    opacity: 0;
    transition:all .2s ease ;
}
.burger.open:after {
    transform: rotate(45deg);
    top: 50%;
    transition:all .2s ease ;

}
.burger.open:before {
    transform: rotate(-45deg);
    top: 50%;
    transition:all .2s ease ;
}
/* HEADER */
#header {
    position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
  background-color: var(--couleur-principal);
}

#header video {
    width: 100%;
    position: absolute;
    height:calc(100% );
    object-fit: contain;
    top: 0px;
}

/* MAIN */
main {
    overflow-x: hidden;
    position: relative;
    font-family: 'catcafemedium';
    scroll-behavior: smooth;
}

/* ARTICLES */

section > h1 {
    font-family: 'kaorigelboldbold';
    font-size: 5REM;
    color: var(--couleur-principal-transparente);
    opacity: .4;
    text-transform: capitalize;
}

section >article {
    columns: 2;
    position: relative;
    column-fill: initial;
    column-gap: 60px;
    column-span: all;
    column-rule: dotted;
    padding: 20px 40px;
    border-radius: 7px;
    margin-bottom: 45px;
    background-color: rgb(247, 247, 247);
    
   
}
 
section >article:not(:last-of-type)::after {
    content: '';
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid rgb(247, 247, 247);
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}
section > article h2 {
    
    background-color: #2DAEB3;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    padding: 20px;
    width: 25rem;
    color: #fff;
    padding-bottom: 20px;
    font-family: 'kaorigelboldbold';
    text-transform: lowercase;
   
}

section>article:not(:last-of-type){
    min-height: 70vh;
}
section >article > * {
   
    page-break-inside: avoid;
    

}


section >article h3 {
    font-family: 'kaorigelmedium';
    padding: 10px 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: var(--couleur-principal);
    border-radius: 7px;
    text-transform: uppercase;
    text-align: center;
}

section >article p {
    white-space: normal;
    position: relative;
    line-height: 1.5rem;
    text-align: justify;
    padding: 7px 15px;
    color:#2c3e4c ;
    border-radius: 7px;
}
section >article p:nth-of-type(odd):not(:last-of-type)::after {
    content: '';


    position: absolute;
    border-left: 30px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--couleur-principal-transparente);
    right:30px;
    
    bottom: -15px;
}
section >article p:nth-of-type(even):not(:last-of-type)::after {
    content: '';


    position: absolute;
    border-left: 15px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid rgba(252, 235, 243, 0.4);
    left:30px;
    bottom: -15px;
}


section >article p:nth-of-type(odd) {
    background-color: var(--couleur-principal-transparente);
}
section >article p:nth-of-type(even) {
    background-color: rgba(252, 235, 243, 0.4);
}

section >article p:not(:last-of-type) {
    margin-bottom: 10px;
    line-height: 1.5rem;
}



/* SECTION */

section {
    padding: 80px 10%;
    
    display: none;
    animation-name: slideToLeft;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.visible {
    display: block;
}



/* FOOTER */


footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: var(--couleur-principal);
    color: #fff;
    font-family: 'kaorigelboldbold';
}



/* SLIDER */
.slickSlider .slick-initialized .slick-slider {
    height: 500px;
    position: sticky;
    break-inside: avoid-column;
    top:0;
    
    
}
 .slickSlider li {
     height: 100%;
     width: 100%;
 }

.slickSlider img {
    height: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: contain;
    border: #2DAEB3 solid 5px;
}




/* ANIMATIONS */

@keyframes slideToLeft {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }to {
        transform: translateX(0);
        opacity: 1;
    }
}